/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  background: var(--p-content-background);
  color: var(--p-text-color);
}
